:root {
    /* https://coolors.co/223843-eff1f3-dbd3d8-d8b4a0-d77a61 */
    --primary-bg: #eff1f3;
    --secondary-bg: #dbd3d8;
    --primary-text: #223843;
    --secondary: #d77a61;
    --highlight: #d8b4a0;
    --page-margin: 6rem;
}

body {
    font-family: Helvetica, sans-serif;
    background: var(--primary-bg);
    color: var(--primary-text);
    border-top: 20px solid var(--secondary-bg);
    margin: 0;
}

h2 {
    font-size: 3em;
    font-weight: normal;
    border-bottom: 1px solid var(--secondary-bg);
}

p {
    font-size: 1.4em;
    line-height: 1.4;
}

header {
    text-align: center;
    padding: 1rem 0;
    margin: 0 var(--page-margin);
}

#hero h1 {
    font-size: 4em;
    text-align: center;
    line-height: 1.1;
    letter-spacing: -2px;
}

main {
    margin: 0 var(--page-margin);
}

#logo img {
    width: 100px;
}

#logo img:hover {
    transform: scale(1.1);
}

#projects article h3 {
    font-size: 2em;
}

#projects article {
    background: var(--secondary-bg);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

nav {
    background: var(--secondary);
    border-radius: 30px;
    margin-top: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: var(--primary-bg);
    text-decoration: none;
    font-size: 1.8em;
    padding: 1rem 2rem;
    display: inline-block;
}

nav ul li a:hover {
    background: color-mix(in oklab, var(--secondary), black 10%);
}

footer {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.8em;
}